{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>808Prints</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="{% staticfiles 'css/main.css' %}"/> <!---By convention never name the same app name as the css--->
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<script src="{% staticfiles 'js/jquery-2.1.3.min.js' %}"></script>
</head>

<body>
	<div class="grid-container">
		<div class="header-container">
			<div class="header-logo">
				<a href="{% url 'index' %}">808Prints</a>
			</div>
			
			<div class="header-nav-menu">
				<ul class="nav">
					<li><a href="">About us</a></li>	
					<li><a href="">Services</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="http://facebook.com/808prints"><i class="fab fa-facebook"></i></a></li>
					<li><a href="http://instagram.com/808prints"><i class="fab fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
		
		<div class="content-container">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>