{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="landing-logo">
	<div id="fade-in-logo" style="display:none;">
		<img src="{% static 'img/resized.jpg' %}">
	</div>
</div>

<div class="landing-about-us">
	<div class="about-us">
		<p>808Prints is about engaging with the customer and giving the best quality designs that we can offer! Here are some of our work in the past!
		</p>
	</div>
	
	<div class="work-port-container">
		<ul class="gallery">
			
		</ul>
	</div>
	
	<div id="g-modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<img id="input-img" src=""/>
			<p class="text"></p>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#fade-in-logo").fadeIn(4000);
	});
		
</script>
{% endblock %}